/* Index or projects page */
.right_side_box {
	display: flex;
	flex-direction: column;
}

.section_box_container {
  overflow-x: auto;
}

.section_box {
  position: relative;
  background-color: green;
  margin-bottom: 20px;
  margin-top: 20px;
  width: auto;
  height: auto;
  padding: 20px 20px 20px 20px;
  display: flex; 
  flex-direction: row;
  overflow-x: auto;
  gap: 25%;
}

.centered {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  position: absolute;
}

.just-a-box{
width: 1000px;
height: 700px;
background-color:pink;
box-sizing: border-box;
flex: 0 0 auto;
display:flex;
transform: translateX(50%);
}

.project-box-image{
width: 60%;
background-color: blue;
margin: 20px;
  border-radius: 10px;
}

.project-box-content {
width:40%;
background-color: orange;
margin: 20px;
  border-radius: 10px;
}

.project-box-text {
 font-size: 16px;
 margin: 10px;
}

.project-box-title {
font-size: 24px;
 margin: 10px;
 text-align:center;
 font-weight: bold;
}

.project-box-button {
width: 50%;
height: 5%;
  transform: translateX(50%);
   border-radius: 10px;
}

.section_box_container::-webkit-scrollbar {
  width: 12px;
}

.section_box_container::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 10px;
}

.section_box_container::-webkit-scrollbar-track {
  background-color: #eee;
  border-radius: 10px;
}

/* HOME PAGE */

 .page-underline {
            display: none;
            background-color: white;
        }

        .home-custom-button:hover .page-underline {
            color: red;
            display: block;
        }

        .home-custom-button {
            background-color: transparent;
            display: inline-block;
            margin-right: 40px;
            color: white;
        }

        .home-custom-button a {
            text-decoration: none;
            color: inherit;
        }
        
        .home-my-name {
            font-family: Georgia, serif;
            font-size: 50px;
            transform: translateX(5%);
            font-weight: bold;
        }
        
        .home-my-title {
            font-family: Georgia, serif;
            font-size: 30px;
            transform: translateX(5%);
        }
        
        .home-big-picture {
            width: 33%;
            float: right;
	    transform: translateX(-50%);
        }
        
        .home-corner-picture {
        	width: 75px;
            height:auto; 
            float:left;
		margin-bottom: 10px;
        }





