.right_side_box {
  display: flex;
  flex-direction: column;
}

.project_box {
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 10px; 
}

.section_box_container {
  overflow-x: auto; 
}

.section_box {
  position: relative;
  background-color: green;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
  height: auto;
  padding: 20px 20px 20px 20px;
  display: flex;  
  justify-content: space-between; 
  flex-direction: row; 
}

.centered {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  position: absolute;
}

.centered-below {
 position:absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: black;
}

.project_name-background {
  background-color: #33475b; 
  border-radius: 20px;
  padding: 5px;
}

.section_box_container::-webkit-scrollbar {
  width: 12px;
}

.section_box_container::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 10px;
}

.section_box_container::-webkit-scrollbar-track {
  background-color: #eee;
  border-radius: 10px;
}
